:host {
    display: block;
}

:host ::ng-deep .code-block {
    margin: 1rem 0;
    overflow-x: auto;
    border: 1px solid rgb(51 65 85 / 0.7);
    border-radius: 0.75rem;
    background: rgb(2 6 23);
    padding: 1rem;
}

:host ::ng-deep .token-keyword {
    color: #7dd3fc;
}

:host ::ng-deep .token-string {
    color: #86efac;
}

:host ::ng-deep .token-number {
    color: #fca5a5;
}

:host ::ng-deep .token-comment {
    color: #64748b;
    font-style: italic;
}
